.address-field {
  display: flex;
  flex-direction: column;
}

.address-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.address-field  input{
  margin: 5px 0;
  width: 99%;
}

.address-number input {
  width: 45%;
}

.card-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-details input {
  width: 45%;
  margin-top: 10px;
  height: 30px;
  border-radius: 30px;
}

.card-field > input {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  border-radius: 30px;
}

.final-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container img {
  display: block;
  margin: auto;
}


.map-container {
  height: 50vh;
  position: relative;
  margin-bottom: 60px;
}

.collection-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-container p {
  text-align: center;
}

.collection-container input {
  border-radius: 30px;
  height: 35px;
}


.payment-btns button, .card-field button, .collection-container button{
  display: block;
  width: 50%;
  border-radius: 30px;
  height: 50px;
  background-color: #616161;
  color: white;
  font-weight: 900;
  width: 45%;
  margin-top: 10px;
}

.payment-btns a button{
  display: block;
  width: 50%;
  border-radius: 30px;
  height: 50px;
  background-color: #616161;
  color: white;
  font-weight: 900;
  width: 100%;
}

.payment-btns a {
  width: 45%;
}

.payment-btns {
  padding-top: 20px;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.container h2 {
  text-align: center;
  padding-top: 10px;
}

.finish-shop-button {
  display: block;
  width: 50%;
  border-radius: 30px;
  height: 50px;
  background-color: #616161;
  color: white;
  font-weight: 900;
  width: 45%;
  margin: 20px auto;
}